version: "3.8"

services:
    postgres:
        image: postgres:13-alpine
        container_name: sl-postgres
        environment:
            POSTGRES_USER: postgres
            POSTGRES_DB: postgres
            POSTGRES_PASSWORD: password
            POSTGRES_HOST: localhost
        volumes:
            - sl-postgres:/var/lib/postgresql/data
        ports:
            - 5432:5432
volumes:
    sl-postgres:
